/* Language-specific styles for Indonesian Bahasa */
@media only screen and (max-width:968px){.slide.slide-form_factor .column-block .button{margin-top:0;width:45%;text-align:right;-ms-flex-pack:center;justify-content:center}}
@media only screen and (max-width:968px){.slide.slide-form_factor .thumbnail{padding:.25rem .625rem;-ms-flex-pack:start;justify-content:flex-start;-ms-flex-direction:row;flex-direction:row;width:55%;height:auto;min-height:3.4375rem}}
@media only screen and (max-width:968px){.slide .slide-inner-content .button{margin-top:0;width:45%;text-align:right;-ms-flex-pack:center;justify-content:center}}
@media only screen and (max-width:968px){.slide .slide-inner-content .thumbnail{padding:.25rem .625rem;-ms-flex-pack:start;justify-content:flex-start;-ms-flex-direction:row;flex-direction:row;width:55%;height:auto;min-height:0}}
.slide.slide-start header .slide-instructions h1 {width: 48%;}
@media only screen and (max-width: 968px){.slide header.recommendation-header .slide-instructions h1 {font-size: 1.7rem;}}

.slide.slide-start header .slide-instructions h1 {
  line-height: 1.1;
  width: 50%;
}
.slide header .slide-instructions h1 {
  line-height: 1.1;
  width: 58%;
}
.slide-form_factor .slide-container .slide-instructions h6 {
  position: relative;
  bottom: 3rem;
}